<div>
    <h1>Tweets</h1>
    <p id="tweets"></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

var printableOjbects = [];

    $.get("../api/tweet/all", function(data, status){
        
        var tweetArray = []

        for(x in data){
            tweetArray.push(data[x]);
        }
        tweetArray.reverse();
        for ( x in tweetArray){
        $("#tweets").append("User: " + tweetArray[x].tweetOwner+"<br>");
        $("#tweets").append(tweetArray[x].message + "<br><hr>");
        }
    });

    
</script>

